<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Our Company</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>
        We are a technology-driven company committed to providing high-quality software solutions.
      </p>
      <p>
        Founded in 2020, we specialize in custom development, web design, and app solutions. Our team is
        passionate about delivering exceptional user experiences and innovative solutions.
      </p> -->
      <ion-item>
        <ion-label position="stacked">Contact us:</ion-label>
        <ion-text color="primary">+91 9994090424</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Follow us:</ion-label>
        <ion-text color="primary">Facebook | Twitter | LinkedIn</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
