// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #19ad9f;
    --ion-color-second-primary: #f8931d;
    --ion-color-third-primary: #141D38;
    --ion-color-white: #ffffff;
    --ion-color-primary-rgb: 25, 173, 159;
  }
  
