<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  [loop]="true"
  [autoplay]="{ delay: 3000 }"
  class="banner-slider"
>
  <ng-template swiperSlide *ngFor="let slide of slides">
    <div class="banner">
      <div class="text-container">
        <h1>{{ slide.title }}</h1>
        <p>{{ slide.subtitle }}</p>
      </div>
      <img [src]="slide.image" alt="{{ slide.title }}" />
    </div>
  </ng-template>
</swiper>

  <ion-list>
    <ion-item *ngFor="let actor of actors">
      <ion-label>
        <h2>{{ actor.name }}</h2>
        <p>{{ actor.biography }}</p>
        <small>Created: {{ actor.created_at | date }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
